/*
* File: app.js
* Author: Laczkó Bálint
* Copyright: 2023, Laczkó Bálint
* Group: Szoft I-2-N
* Date: 2021-02-23
* Github: https://github.com/Balint0429/
* Licenc: GNU GPL
*/
.about{
    background-color: gray;
    border-top: 3px solid  ;
    position:fixed ;
    width: 600px;
    height: 60px;
    text-align: center;
    top: 50px;;
    right: -110px;
    transform: rotate(45deg);

}